body {
	padding-top: 0px;
	background-color: #808080;
}
.top_banner {
	width: 100%;
	height: 100%;
	position: relative;
	background-image: url(../imagine/main.jpg);
		background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
		background-size: 100%;
}